In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("D:\sales_data.csv")

In [4]:
df

          Date     Product  Quantity  Price Customer_ID Region  Total_Sales
0   2024-01-01       Phone         7  37300     CUST001   East       261100
1   2024-01-02  Headphones         4  15406     CUST002  North        61624
2   2024-01-03       Phone         2  21746     CUST003   West        43492
3   2024-01-04  Headphones         1  30895     CUST004   East        30895
4   2024-01-05      Laptop         8  39835     CUST005  North       318680
..         ...         ...       ...    ...         ...    ...          ...
95  2024-04-05      Tablet         8  20770     CUST096  North       166160
96  2024-04-06  Headphones         1   7647     CUST097   West         7647
97  2024-04-07      Tablet         5  27196     CUST098   East       135980
98  2024-04-08     Monitor         1  30717     CUST099  North        30717
99  2024-04-09  Headphones         5  23376     CUST100  South       116880

[100 rows x 7 columns]

In [6]:
if df.isna().any().any():
    print("There are missing values in the DataFrame.")
else:
    print("No missing values found.")

No missing values found.

In [14]:
total=df["Product"].value_counts()

In [ ]:
total

Product
Tablet        26
Laptop        24
Phone         20
Headphones    15
Monitor       15
Name: count, dtype: int64

tablet and laptop are the most selling product

In [20]:
rev = df.groupby("Product")["Total_Sales"].sum()
print(rev)

Product
Headphones    1384033
Laptop        3889210
Monitor       1348071
Phone         2859394
Tablet        2884340
Name: Total_Sales, dtype: int64

laptop is the best selling product